// Container padding
$pd-mobile: 1rem;
$pd-tablet: 1.4rem;
$pd-desktop: 3.5rem;

// Seсtion padding
$section-padding-mobile: 2rem 0;
$section-padding-tablet: 3rem 0;
$section-padding-desktop: 5.6rem 0;
